@import '../../assets/css/variable.less';


.login{
  padding-top: 100px;

}
:global {
    .login-bg, .reg-bg {
      //background: @bg-color;
      height: 100%;
    }

    .form-item {
      /**  修改 ant 值 begin */
      .am-list-item {
        background-color: transparent;
      }
      .am-button {
        height: 90px;
        border-radius: 90px;
        line-height: 90px;
      }
      /**  修改 ant 值 end */

      height: 90px;
      line-height: 90px;
      width: 84vw;
      margin-top: 50px;
      box-sizing: border-box;

      &-input {
        border: 2px solid #ddd;
        border-radius: 50px;
      }

      &-button {
        border-radius: 50px;
      }

      &-a {
        color: #70889e;
        margin-top: 100px;
      }
      // &-button-disable {
      //   background: #fbaaa9;
      // }

      &-line {
        width: 2px;
        display: block;
        background: #979797;
        height: 32px;
        margin-right: 16px;
      }
      .code{
        white-space: nowrap;
      }
      &-phone {
        width:55vw;
        white-space: nowrap;
      }
    }
  }


