.nav {
  position: sticky;
  top: 0;
  color: #ffffffe6;
  overflow: hidden;
  height: 120px;
  line-height: 120px;
  display: flex;
  align-items: center;
  background-color: #e85145;
  padding: 0 20px;
  z-index: 999;
  .navLeft {
    display: block;
    width: 60px;
    height: 60px;
    background: url('../../assets/img/home/oq.png') no-repeat;
    background-size: cover;
  }
  .navTitle {
    font-size: 32px;
    margin-left: 30px;
  }
  .navRight {
    position: absolute;
    right: 0;
    z-index: 1;
  }
}
