@import '../../assets/css/variable';

.space-carousel {
  padding: 16px;
  background: #DEF1E5;
  overflow: hidden;
}
.bannerBox{
  position: relative;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100vw;
  height: 43.8vw;
  &:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100vw;
    background-color: @bg-color;
    height: 240px;
  }
}


.songSheet {
  display: flex;
  justify-content: start;
  padding: 20px 20px;
  align-items: center;
  h3{
    margin: 0;
  }
  a{
    line-height: 1;
    color: rgba(0, 0, 0, 0.85);;
  }
}
