.space-carousel {
  padding: 16px;
  background: #DEF1E5;
  overflow: hidden;
}
.bannerBox{
  position: relative;
  padding: 0 10px;
  box-sizing: border-box;
  .bg {
    position: absolute;
    left: 0;
    width: 100vw;
    background-color: #e85145;
    height: 120px;
  }
}


.songSheet {
  display: flex;
  justify-content: start;
  padding: 10px 10px;
  align-items: center;
  h3{
    margin: 0;
  }
  a{
    line-height: 1;
    color: rgba(0, 0, 0, 0.85);;
  }
}
