.space-carousel {
  padding: 16px;
  background: #DEF1E5;
  overflow: hidden;
}

.bg {
  padding: 0 10px;
  box-sizing: border-box;
  width: 100vw;
  background-color: #e85145;
  height: 120px;
  margin-bottom: 56px;
}

.songSheet {
  display: flex;
  justify-content: start;
  padding: 10px 10px;
  align-items: center;
  h3{
    margin: 0;
  }
  a{
    line-height: 1;
  }
}
