<!doctype html>
<html lang="zh-Hans-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="keywords" content="和振峰">
  <meta name="description" content="">
  <title>~不知道起什么名字</title>
</head>
<body>
<div id="root"></div>
<script type="text/javascript">
  //百度统计入口
  const _hmt = window._hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = `https://hm.baidu.com/hm.js?7ad6cded165cc2b6b51c8d083ee59145`;
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>

</body>
</html>
