html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #ffff !important;
  font-family: "PingFangSC-Regular", "Microsoft YaHei", arial;
  font-size: 28px;
}

h1, h2, h3, h4, ul, li, p, a {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.85);
}
main{
  height: 100%;
}
body {
  text-align: center;
}

li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

input {
  outline: none;
  border: 0;
}

i, em {
  font-style: normal;
}

.fixed{
  position: sticky;
  top: 0;
  z-index: 999;
  background-color:#e5473c!important;
}


@font-face {
  font-family: 'iconfont';  /* project id 934314 */
  src: url('//at.alicdn.com/t/font_934314_sqpncxd6vn.eot');
  src: url('//at.alicdn.com/t/font_934314_sqpncxd6vn.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_934314_sqpncxd6vn.woff') format('woff'),
  url('//at.alicdn.com/t/font_934314_sqpncxd6vn.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_934314_sqpncxd6vn.svg#iconfont') format('svg');
}

.iconfont {
  font-family: iconfont;
  font-size: 30px;
  font-style: normal;
}




/*路由切换动画*/


/*这里定义整个应用加载时的动画,持续时间为500ms，
时间曲是ease-in-out，一种先快后慢的变化曲线*/

.fade-appear{
  opacity:0;
  transform:translate3d(-100vw, 0, 0)
}

.fade-appear.fade-appear-active{
  opacity:1;
  transform:none;
  transition: 500ms ease-in-out;
}

/*设置进场前透明度为0*/

.fade-enter {
  opacity:0;
  transform:translate3d(-100vw, 0, 0)
}


/*设置进场过程中 透明度为1持续时间为500ms，时间曲是ease-in-out */
.fade-enter.fade-enter-active {
  opacity:1;
  transform:none;
  transition: 500ms ease-in-out;
}

/*设置退场前透明度为1*/
.fade-exit{
  position: absolute;
  top: 0;
  z-index: 9999;
  opacity:1;
  transform:translate3d(0, 0, 0);
}

/*设置退场过程中 持续时间为500ms，时间曲是ease-in-out */
.fade-exit.fade-exit-active{
  transition: 500ms ease-in-out;
  transform:translate3d(100vw, 0, 0);

}


